<div class="grid-row">
	<div class="grid-column -xsmall-11">
		<br>
		<h2>Login now!</h2>
		{{#if err}}
		    <div class="alert -error">{{err}}</div>
		{{/if}}
		<form action="/playlist/add" method="post" class="form">
			<div class="field">
				<label for="username">The track your adding:</label>
				<input type="text" id="track" name="track" value="{{id}}">
			</div>
			<div class="field">
					<label for="password">Your Password:</label>
					<input type="select">
					<div class="form-actions"><button class="button -primary" type="submit">Login</button></div>
			</div>
		</form>
	</div>
</div>