<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bloom.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  </head>
  <body>
  <div class="container">
 	<div class="grid-row">
		<div class="grid-column -medium-8">
			<h1>{{title}} <small>{{slogan}}</small></h1>
		</div>
		<div class="grid-column -medium-4">
			<a href="/" class="button -hollow"><i class="icon -bars"></i>Home</a>
			<a href="/register" class="button -hollow"><i class="icon -child"></i>Register</a>
			<a href="/login" class="button -hollow"><i class="icon -user"></i>Login</a>
		</div>	
	</div>
    {{{body}}}
  </div>
  </body>
</html>
