<!DOCTYPE html>
<html>
  <head>
    <title>syncMusic | We sync your music</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1">
    <meta name="description" content="Share music and play it via personalized playslists">
    <link rel='stylesheet' href='/stylesheets/bloom.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!--<script src="http://cdn.binaryjs.com/0/binary.js"></script>
    <script src="/js/jquery.jplayer.min.js"></script>
    <script src="/js/jquery.jplayer.inspector.min.js"></script>
    <script src="/js/jplayer.playlist.min.js"></script>
    <script defer src="/js/script.js"></script>-->
  </head>
  <body>
  <div class="container">
 	<div class="grid-row">
		<div class="grid-column -medium-5">
			<h1><a href="/">syncMusic</a> <small>We sync your music</small></h1>
		</div>
		<div class="grid-column -medium-7">
			<a href="/" class="button -hollow"><i class="icon -bars"></i>Home</a>
            {{#if loggedIn}}
            <a class="button -hollow" href="/add"><i class="icon -cloud-upload"></i>Upload music</a>
            <a class="button -hollow" href="/playlist"><i class="icon -play-circle"></i>Playlists</a>
            <a class="button -hollow" href="/profile/{{username}}"><i class="icon -user"></i>Profile</a>
            <a class="button -hollow" href="/logout"><i class="icon -sign-out"></i>Sign out</a>
            {{else}}
            <a href="/register" class="button -hollow"><i class="icon -child"></i>Sign up</a>
            <a href="/login" class="button -hollow"><i class="icon -user"></i>Sign in</a>
            {{/if}}
		</div>	
	</div>
   <hr>
    {{{body}}}
  </div>
  </body>
</html>
